/* Accordions */
.accordion-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;

  .accordion {
    .card {
      border: none;

      .card-header {
        background-color: initial;
        border: none;
        padding: 0px;

        h3 {
          margin-bottom: 20px;
          padding-bottom: 10px;
          border-bottom: 1px solid hsla(0, 0%, 46%, 0.5);
        }

        h3:hover {
          color: $red;
        }

        span {
          .toggle-icon {
            color: $red;
            font-size: 25px;
          }

        }

      }

      .collapse {
        .card-body {
          padding: 0px !important;
          margin-bottom: 40px;
        }
      }






    }



  }



}


// New Styles  



#views-bootstrap-faq-faq-accordion {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;

  //for full width ~byNirav
  /*   width: 100%; */

  .card {
    border: none;



    .class-header {
      background-color: initial;
      border: none;
      padding: 0px;

      h3 {
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid hsla(0, 0%, 46%, 0.5);
        transition: all 400ms ease-in-out;




        .btn {
          font-size: 24px;
          line-height: 30px;
          font-weight: bold;
          text-align: left;

          &:hover {
            color: $red;
          }

        }



        button[aria-expanded="true"]:before {
          color: $red;
          content: "\2212";
        }

        button[aria-expanded="false"]:before {
          color: $red;
          content: "\2b";
        }

      }

      h3:hover {
        color: #e25255;
      }


    }

    .collapse {
      .card-body {}
    }






  }




}
