.button {
  padding: 14px 20px 12px;
  border-bottom: 2px solid #1d1d1d;
  background-color: #1d1d1d;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  color: $white;
  max-width: 100%;
  display: inline-block;
  letter-spacing: 1.1px;
  text-decoration: none;
  text-transform: uppercase;
}

.white-btn {
  border-bottom-color: #fff;
  background-color: #fff;
  color: $steel-blue;
}

.white-btn:hover {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}

.steel-blue-btn {
  border-bottom-color: $steel-blue;
  background-color: $steel-blue;
}

.steel-blue-btn:hover {
  background-color: transparent;
  color: $teal;
  text-decoration: none;
}

.link-btn {
  border-bottom-color: #b9b59d;
  color: $red;
  background-color: $white;
}

.secondary {
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 0px;
}

.link-btn:hover {
  border-bottom-color: transparent;
  text-decoration: none;
  color: $red;
}

.red-btn {
  border-bottom-color: $red;
  background-color: $red;
  color: $white;
}

.red-btn:hover {
  background-color: transparent;
  color: $red;
  text-decoration: none;
}
