/* Styles for connect block */

.block-inline-blockconnect-with-me-text {
  padding-top: 40px;
  padding-bottom: 40px;

  .content {
    padding-left: 42px;
    padding-top: 42px;
  }



  .horizontal-rule {
    width: 140px;
    height: 1px;
    background-color: #d4d4d4;
    margin-bottom: 16px;
  }


  .field__items {
    .field__item {
      margin-bottom: 38px;

      a {
        font-size: 22px;
        text-transform: capitalize;
        color: $red;
        font-weight: 400;
        transition: all 400ms ease-in-out;



      }

      &:hover a {
        color: $grey;
        text-decoration: underline;
      }

    }




  }







}
