footer.site-footer {
  background-color: $steel-blue !important;
  color: $white;
  padding-top: 20px;
  padding-bottom: 8px;

  .container,
  .container-fluid {
    padding-left: 0;
    padding-right: 0;

  }

  .site-footer__top {
    display: flex;
    align-items: center;
    justify-content: center;

    a.logo-text {
      display: block;
      color: $white;
      margin-top: 18px;
      margin-bottom: 40px;
      font-size: 18px;
      line-height: 17px;
      letter-spacing: 1.3px;
      text-transform: uppercase;
      font-weight: bold;
      max-width: 210px;

      span.ml-2 {
        margin-left: 0px !important;
      }


      &:hover {
        opacity: 0.5;
        text-decoration: none;
      }

    }

    .region-footer-second {



      #block-iconsinthefooter {


        .field__items {
          display: flex;
          justify-content: flex-end;

          .field__item {
            a {
              margin-left: 8px;
              transition: opacity 400ms ease-in-out;
              color: $white;
              font-size: 26px;

              &:hover {
                opacity: 0.5;
              }

            }


          }

        }

      }






    }


  }

  .site-footer__bottom {
    .footer--byline {
      width: 100%;
      padding-top: 16px;
      color: hsla(0, 0%, 100%, 0.53);
      font-size: 12px;

    }

  }
}
