.img-text-wrap-container {


  .container {


    .img-txt-wrap.form {
      max-width: 800px;
      margin: auto;
      padding-top: 80px;
      padding-bottom: 80px;

      .form-wrapper {
        padding: 24px;
        background-color: #2b4b5e;
        background-image: linear-gradient(139deg, #307c8b, #2b4b5e);
        color: #fff !important;

        label {
          display: block;
          margin-bottom: 5px;
          color: #fff;
          font-weight: 700;
          letter-spacing: 0.75px;
          text-transform: uppercase;
        }



        h2 {
          margin-top: 20px;
          font-size: 36px;
          line-height: 36px;
          text-transform: capitalize;
          color: #fff !important;

        }


      }

      .horizontal-rule {
        color: #757575;
      }




      .icon-link {
        font-size: 20px;
        line-height: 28px;
        font-weight: 300;
        color: #e25255;
        letter-spacing: 0px;
        transition: all 400ms ease-in-out;

        &:hover {
          color: #757575;
          text-decoration: underline;
        }
      }




    }
  }
}
