.hero-wrapper {
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-height: 90vh;
  color: $white;
  align-items: center;
  position: relative;


  .fontawesome-icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding-top: 0px;
    display: flex;
  }


  .hero-contents-wrapper {
    /* Icons will take available space with margin auto */
    margin: auto;

    .hero-contents {
      width: 60%;
      margin-left: 10px;



      .hero-h1 {
        color: $white;
        font-size: 60px;
        line-height: 64px;
        margin-bottom: 10px;
        font-weight: bold;
      }


      .horizontal-rule {
        width: 140px;
        height: 1px;
        background-color: #d4d4d4;
        margin-bottom: 16px;
      }



      .field--name-field-hero {
        color: $white;
        font-size: 22px;
        line-height: 28px;


      }


      a.button.red-btn.hero {

        margin-top: 24px;
      }









    }

  }


}




.icons-wrapper col {
  padding-top: 24px;
  padding-bottom: 24px;
}
