/* Note: Horizontal Cards are used on the homepage for the portfolio items and then on the Work and Blog pages as the featured item.  */


.featured {
  padding-top: 82px;
  padding-bottom: 82px;
}

.Horizontal-Cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  /* mt-4 is used on each row which is like 24px so 40-24px is 16px;  */




  .view-content>.views-row {
    margin-top: 40px !important;
  }


  /* 
  To add space below the more-link button target the wrapper rather than the entire horizontal cards div since this block is also used on the work and blog pages and does not have a more-link button.  */
  .wrapper {
    padding-bottom: 80px;
  }

  .card {
    border-style: solid;
    border-width: 1px;
    border-color: hsla(0, 0%, 46%, 0.3);

    .title {
      margin-bottom: 10px;
    }

    .tag a {
      color: $grey;
      /* To Do: Make this variable*/
      text-transform: uppercase;
      font-size: 14px;
      line-height: 14px;
      margin-top: 14px;
      font-weight: bold;
      margin-bottom: 10px;
    }

  }

  .more-link {
    /* This button is 40px down from the rest of the content in the block */
    margin-top: 40px;
    border-bottom: 2px solid #2b4b5e;
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    color: #fff;
    background-color: $steel-blue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50px;

    &:hover {
      background-color: transparent;
    }

    a {
      letter-spacing: 1.1px;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: auto;
      flex-grow: 1;
      /* Add padding to link element due to flexbox */
      padding: 14px 20px 12px;

      &:hover {
        color: $steel-blue;
      }

    }

  }


  /* In order to have alternating blocks where photo and text alternate use flex direction and target even elements */
  .view-content {

    .horizontal-card:nth-child(even) {
      .card {
        .row {
          flex-direction: row-reverse;
        }
      }
    }
  }

}
