.logos-container {
  background-color: $teal;



  .field__items {
    display: flex;
    justify-content: space-around;
  }

  .field__item {
    max-height: 150px;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;



    img {
      display: inline-block;
      vertical-align: middle;

    }

  }





}


@media (min-width: 35rem) {

  .node .logos-container .field--type-image {
    float: none !important;
    margin: 0 1rem 0 0;

  }



}
