/* On the homepage put a green background for blog articles */

.block-views-blockblog-posts-recent-blog-articles {
  background-color: #2f7c8b;


  .section__wrapper {
    h2 {
      color: #fff;
    }

    .horizontal-rule {
      background-color: #fff;
    }
  }


}


/* 

div.block.block-views.block-views-blockblog-posts-featured-blog {
  background-color: $steel-blue;
  padding-bottom: 42px;


  .title__wrapper {

    h1 {
      color: $white;
      text-align: center
    }


  }
} */



/* On Homepage Put a grey background color for recent projects */

.block-views-blockportfolio-items-portfolio-recent-projects {
  background-color: hsla(0, 0%, 46%, 0.12);

}





/* For the Blog Page, the title is disabled and the block title is styled to be like the page title. To make it consistent with the page titles on the other pages, you need to remove the margin top from node__content (Which is the wrapping div for all the page content on a page) */

/* [about|="/node/38"] .node__content {

  margin-top: 0px !important;
} */
