.port15-teaser {
  border: 1px solid #dcdacd;
  background-color: #fff;
  width: 100%;
  padding: 24px;
  margin-bottom: 40px;
  img {
    width: 100%;
  }
  .teaser-content {
    padding-left: 24px;
    padding-right: 24px;
    h3 {
      text-transform: capitalize;
    }
  }
  .title-label {
    color: #757575;
    text-transform: uppercase;
    margin-top: 16px;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
  }
  a.teaser-link {
    border-bottom: 1px solid #b9b59d;
    color: #e05355;
    text-transform: uppercase;
    &:hover {
      border-bottom: 1px solid transparent;
      text-decoration: none;
    }
  }
}
