.port15-teaser {
  background-color: #fff;
  border: 1px solid #dcdacd;
  display: flex;
  padding: 24px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;

  .project--teaser {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
  }

  .teaser--content {
    padding-right: 42px;
    padding-left: 42px;
  }

  p {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .title-label {
    color: $grey;
    margin-top: 16px;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
  }

  h3 {
    color: $steel-blue;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0px;
  }

  a.teaser-link {
    border-bottom: 2px solid #b9b59d;
    color: $red;
    text-transform: uppercase;
    padding-top: 14px;
    padding-right: 0px;
    padding-bottom: 2px;
    padding-left: 0px;
    background-color: #fff;
    letter-spacing: 1.1px;
    display: inline-block;

    &:hover {
      border-bottom: 1px solid transparent;
      text-decoration: none;
    }
  }

  .project--img {
    width: 50%;

    img {
      width: 100%;
      object-fit: cover;
    }

   }

}

/* 
 Give the Block a class, then target view-rows which is inside view content and identify odd/even, and then target the even ones and change the class of port15-teaser div */
.Portfolio-Teaser .view-content .views-row:nth-child(even) .port15-teaser {
  flex-direction: row-reverse;
}


@media (max-width:920px) {

  .Portfolio-Teaser .view-content .views-row:nth-child(even) .port15-teaser {
    flex-direction: column-reverse;
  }

  .Portfolio-Teaser .view-content .views-row .port15-teaser {
    flex-direction: column-reverse;

    .project--teaser {
      width: 100%;
    }

    .project--img {
      width: 100%;

      img {
        width: 100%;
      }
    }




  }




}
