/* Notes: Block title styles  */

.section__wrapper {
  padding-top: 80px;

  .horizontal-rule {
    height: 1px;
    background-color: $grey;

  }


  .horizontal-rule.small {
    width: 140px;

  }

}

/* 
Notes: Styles for the Title of the Page */
.title__wrapper {
  padding-top: 24px;


  .horizontal-rule {
    height: 1px;
    background-color: $grey;

  }

  .horizontal-rule.small {
    width: 140px;

  }

}
