.Vertical-Cards {
  display: flex;
  flex-direction: column;
  align-items: center;

  .view-content>.views-row {
    margin-top: 40px !important;
  }

  .wrapper {
    padding-bottom: 100px;
  }

  .more-link {
    margin-top: 40px;
    border-bottom: 2px solid #fff;
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50px;
    color: #2b4b5e;

    &:hover {
      background-color: transparent;
    }

    a {
      letter-spacing: 1.1px;
      text-decoration: none;
      text-transform: uppercase;
      color: #2b4b5e;
      margin-bottom: auto;
      flex-grow: 1;
      /* Add padding to link element due to flexbox */
      padding: 14px 20px 12px;

      &:hover {
        color: #fff;
      }

    }

  }




  .card {
    border-style: solid;
    border-width: 1px;
    border-color: hsla(0, 0%, 46%, 0.3);


    .card-body {
      padding: 0px !important;
    }

    .tag {

      color: #757575;
      /* To Do: Make this variable*/
      text-transform: uppercase;
      font-size: 14px;
      line-height: 14px;
      margin-top: 14px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .title {
      margin-bottom: 10px;
    }

    .card-footer {
      background: none;
      border: none;

    }
  }

}
