/* On the homepage put a green background for blog articles */

.block-views-blockblog-posts-recent-blog-articles {
  background-color: #2f7c8b;


  .section__wrapper {
    h2 {
      color: #fff;
    }

    .horizontal-rule {
      background-color: #fff;
    }
  }


}


/* On Homepage Put a grey background color for recent projects */

.block-views-blockportfolio-items-portfolio-recent-projects {
  background-color: hsla(0, 0%, 46%, 0.12);

}


/* 

.node--view-mode-teaser h2 {
  color: $dark-grey;
  font-size: 1.1em;
}
 */


.view-taxonomy-term {

  max-width: 1080px;
  margin: 0 auto;

}
