{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}


<div class="img-txt-wrap flex-wrap d-flex mb-4">
  <!-- TO Do: Add vertical image -->
  <div class="column half-img">
    <div class="form-wrapper">
      <h2>Send me A Note</h2>
      <p>If you're serious about getting to know me, or learn more about my process, or have questions about my resume,
        and
        don't bother much with socials, fill out a form and I'll get back to ya! </p>
      <form>
        <div class="form-group">
          <label for="exampleInputName">Name</label>
          <input type="text" class="form-control" id="exampleInputName">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <a href="#" class="button red-btn">
          <div> Submit </div>
        </a>
      </form>
    </div>
  </div>
  <div class="column half-text d-flex flex-wrap align-items-center align-content-center">
    <div class="horizontal-rule"> </div>
    <div class="half-text-content">
      <h2>You Can Also Connect with Me All Over the web</h2>
      <p class="icon-link-wrapper"><a href="#" class="icon-link"><span> <i class=" lab la-github"></i></span> GitHub</a>
      </p>
      <p class="icon-link-wrapper"><a href="#" class="icon-link"><span> <i class=" lab la-linkedin"></i></span>
          LinkedIn</a>
      </p>
      <p class="icon-link-wrapper"><a href="#" class="icon-link"><span> <i class=" lab la-twitter"></i></span>
          Twitter</a>
      </p>
      <p class="icon-link-wrapper"><a href="#" class="icon-link"><span> <i class=" lab la-instagram"></i></span>
          Instagram</a>
      </p>
    </div>
  </div>
</div>
