<div class="node-testimonial-teaser">
<h3>{{ label }}</h3>
{{ content.body }}
{% if not (node.field_testimonial_author.isEmpty or node.field_author_url.isEmpty) %}
<div class="testimonialAuthor" style="display: inline-block;">
{{ content.field_testimonial_author }}
| 
{{ content.field_author_url }}
</div>
{% endif %}
</div>